.sidebar {
  background-color: $color-primary;

  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;

  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 3rem;
  }

  &::before,
  &::after {
    content: "";
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  &::after {
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $bp-large) {
    &::before {
      transform: translateY(-1.2rem);
    }

    &::after {
      transform: translateY(1rem);
    }
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 3rem;
  }

  &--up {
    width: 4rem;
    height: 4rem;
    display: block;
    margin-bottom: 2rem;
    text-decoration: none;
    text-align: center;

    cursor: pointer;
    color: #fff;
    font-size: 2.5rem;
    font-family: $font-display;
    background-color: $color-secondary;
    transition: all 0.2s;

    @media only screen and (max-width: $bp-large) {
      display: none;
    }

    &:hover {
      background-color: rgba($color-secondary, 0.8);
      transform: translateY(-5px);
    }
  }
}
