* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  color: rgb(53, 53, 53);
}
button {
  font-family: "Muli", sans-serif;
}

path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(212, 212, 212);
}

.color {
  height: 80vh;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.color h2 {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0%;
  background: rgba(8, 5, 22, 0.6);
  opacity: 0;
  padding: 1rem;
  width: 80%;
  pointer-events: none;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  transform: translateY(200px);
  transition: all 0.5s ease-in-out;
}

.sliders.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

.sliders button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border: none;
  background: rgb(0, 0, 0);
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  pointer-events: all;
}

.controls button {
  transition: all 0.3s ease-in-out;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-evenly;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: rgb(31, 33, 63);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
}

.library-panel,
.generate-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust,
.lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0rem;
}

/* Slider */
input[type="range"] {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 2rem;
  background: #ffffff;
  cursor: pointer;

  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.copy-popup,
.save-popup,
.library-popup {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  transition: transform 0.4s ease;
  transform: translateY(-2rem);
  min-width: 30%;
  min-height: 30vh;
}

.copy-popup h4,
.save-popup h4,
.library-popup h4 {
  font-size: 2rem;
  padding: 2rem;
}

.copy-container.active,
.save-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
  transform: translateY(0rem);
}

.save-name {
  font-size: 1.5rem;
  padding: 1rem;
}

.close-save,
.close-library {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  border: none;
  background: rgb(0, 0, 0);
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.submit-save {
  margin: 2rem;
  padding: 1rem 4rem;
  background: rgb(60, 60, 90);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.library-popup {
  min-width: 40%;
  padding: 1rem;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 50vh;
}

.library-popup::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

.library-popup::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;

  background-color: #f5f5f5;
}

.library-popup::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-color: rgb(8, 5, 22);
}

.custom-palette {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem;
}

.small-preview {
  display: flex;
  flex: 1;
}

.custom-palette h4 {
  flex: 1;
}

.small-preview div {
  height: 5rem;
  flex: 1;
}

.pick-palette-btn {
  height: 5rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  background: rgb(24, 15, 61);
  color: white;
}

@media screen and (max-width: 754px) {
  .colors {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }
}
